<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://doc-0k-b4-docs.googleusercontent.com/docs/securesc/78nkp6moh7u0eqbh0t5152i4ii3533c9/ep9kdppf7oq41rm3oahrdd14mtglghpp/1574287200000/00008179222628919781/00008179222628919781/1KendBKbAOtnJaar4quglbyD63R4SnTva?e=download&authuser=0&nonce=ohe055idkg27q&user=00008179222628919781&hash=82fj252i6h7a</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.nianticlabs.hpwu.prod</string>
				<key>bundle-version</key>
				<string>4.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>41A472</string>
				<key>title</key>
				<string>Wizards Unite</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
