<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://doc-0s-1c-docs.googleusercontent.com/docs/securesc/m9mu8229p9n0h7u1bbequj3dh6tt3gnb/fpicem4hapn1qn1gmf38gufdf26liqqs/1562306400000/09188447623735268149/09188447623735268149/1jPvxxpv0V4tgLhv7ywf8n3K_aSInlAku?e=download&amp;nonce=ju0nvceu149g8&amp;user=09188447623735268149&amp;hash=j158m0io92php7ug6gf61773j71h9bh8</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.adtima.hpwu</string>
				<key>bundle-version</key>
				<string>4.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>41A472</string>
				<key>title</key>
				<string>Wizards Unite</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
